body {
  margin: 0;
  font-family: "-apple-system" , "Courier New", Courier  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to right, rgb(123, 64, 156), rgb(85, 83, 213)); ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
